# Xcode
.DS_Store
#*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
profile
*.moved-aside
xcuserdata
xcshareddata
DerivedData
.idea/
*.hmap
.vscode/
build/
buildGen/
install/
release/
depsSource/
deps/
deps.cmake
depsSource.cmake
depsSource.lock
builddeps.log

#svn文件夹忽略
.svn/

#CocoaPods
#Pods

webrtc/lib/